{% extends "base.html" %}
{% load static %}

{% block page_title %}Apartments - B&A{% endblock %}

{% block content %}

<!-- Home -->

<div class="home">
  <div class="background_image" style="background-image:url({% static 'images/header_apart_list.png' %})"></div>
  <div class="home_slider_content_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_slider_content">
            <div class="home_title">
              <h2>B&A Apartments</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>

{% include 'apartments/apartment_list.html' %}

<!-- Intro -->
<div class="intro">
  <!-- <div class="intro_background" style="background-image:url({% static 'images/intro.png' %})"></div> -->
  <div class="intro_background"></div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="intro_container">
          <div class="row">

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><img src="{% static 'images/beach.svg' %}" alt=""></div>
                <div class="intro_content">
                  <div class="intro_title">Top apartments</div>
                  <div class="intro_subtitle">
                    <p>Nulla pretium tincidunt felis, nec.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><img src="{% static 'images/wallet.svg' %}" alt=""></div>
                <div class="intro_content">
                  <div class="intro_title">The Best Prices</div>
                  <div class="intro_subtitle">
                    <p>Sollicitudin mauris lobortis in.</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Intro Item -->
            <div class="col-lg-4 intro_col">
              <div class="intro_item d-flex flex-row align-items-end justify-content-start">
                <div class="intro_icon"><img src="{% static 'images/suitcase.svg' %}" alt=""></div>
                <div class="intro_content">
                  <div class="intro_title">Amazing Services</div>
                  <div class="intro_subtitle">
                    <p>Nulla pretium tincidunt felis, nec.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
