{% extends "base.html" %}
{%load static%}
{% load widget_tweaks %}
{% block page_title %}Apartments booked! - B&A{% endblock %}
{% block content %}
<!-- <div style="margin-top: 30px; margin-left: auto; margin-right: auto;" class="apartment item"> -->

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-lg-4 offset-lg-4 col-sm-6 col-xs-8">
      <div style="margin-top: 39px; margin-bottom: 39px;" class="sidebar_title">Configuration!</div>
      <div class="text-center">Apartments booked! We will contact you soon!</div>
      <a href="/home"><button class="contact_button">Back to Home</button></a>
    </div>
  </div>
</div>

{% endblock %}

{% block footer%}
{% endblock %}
