{% extends "base.html" %}
{% load static %}

{% block page_title %}About Us - B&A{% endblock %}

{% block content %}

<div class="home">
  <div class="background_image" style="background-image:url({% static 'images/home_slider.jpg' %})"></div>
  <div class="home_slider_content_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="home_slider_content">
            <div class="home_title">
              <h2>About us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="apartments" id="apartments">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="contact_title"><h3>About B&A</h3></div>
      </div>
    </div>
    <div class="row apartments_row">
      <div class="col">
        <p>Dear Guests,</p>
        <p></p>
        <p>Are you looking for an attractive and affordable accommodation in Warsaw?
          Then we are very welcome to host you in one of our comfortable and cozy apartments where you can spend your days off in Warsaw.
        </p>
        <p></p>
        <p>Our apartments located in the heart of the beautiful city Warsaw. Walking distance to the most exciting attractions of the town provide you with the excellent public transport connections, that will guarantee your easy access to any place
          in Warsaw. Apartments are fully equipped starting from an open plan kitchenette and finished with a trendy designed bathroom. All apartment range starts from compact and comfortable standard to the high standard with the highest quality.
          Renting our apartment is much cheaper than staying in the 5 star hotel and is often more comfortable. We understand that there are some people who prefer staying in hotels rather in the apartment as everyone has their own taste and
          preferences.
        </p>
        <p></p>
        <p>Our aim is to make you feel at home and comfortable warm stay providing privacy and safety, without receptionists or unwanted company.
        </p>
        <p></p>
        <p>All apartments have a 140x200 bed as well as a refrigerator, a washing machine, an iron and etc. for a warm and cozy atmosphere. The entire place is just for your use.
        </p>
        <p></p>
        <p>Let us know what you are mostly interested in while staying in Warsaw and we will provide you with relevant information. From the most interesting restaurants, charming places, boutiques neighbourhoods, speciality coffee shops to running
          routes. Just ask and we will be happy to give you directions and tips.
          We speak Polish, English, Russian and Ukrainian.
        </p>
        <p>It would be a pleasure for us to host you!</p>
        <p>B&A Apartments.</p>

      </div>
    </div>
  </div>
</div>
{% endblock %}
