{%extends 'base.html'%}
{%load staticfiles%}

{%block content%}
<!-- <form class="" action="" method="POST">
    {%csrf_token%}
    {{form}}
    <button type="submit">Войти</button>
</form> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 col-sm-6 col-xs-8">
      <div style="margin-top: 39px; margin-bottom: 39px;" class="sidebar_title">Register</div>
      <form class="" method="post">

        {%csrf_token%}
        {% for f in form %}

        <div>
          <div style="margin-bottom: 18px">
            {{f.label_tag}}
            {{f}}
            <div class="input_border"></div>
          </div>
        </div>

        {%endfor%}

        <button type="submit" class="contact_button">Sing-in</button>
      </form>
    </div>
  </div>
</div>
{%endblock%}

{% block  footer%}
{% endblock %}
