<div class="travello">
  <div class="background_image" style="background-image:url(images/travello.jpg)"></div>
  <div class="travello_content">
    <div class="travello_content_inner">
      <div></div>
      <div></div>
    </div>
  </div>
  <div class="travello_container">
    <a href="#">
      <div class="d-flex flex-column align-items-center justify-content-end">
        <span class="travello_title">Get a 20% Discount</span>
        <span class="travello_subtitle">Buy Your Vacation Online Now</span>
      </div>
    </a>
  </div>
</div>
