<!-- Categories -->
<div class="categories">
  <div class="sidebar_title">Categories</div>
  <div class="sidebar_list">
    <ul>
      <li><a href="#">
          <div class="d-flex flex-row align-items-start justify-content-start">Travels<span class="ml-auto">(09)</span></div>
        </a></li>
      <li><a href="#">
          <div class="d-flex flex-row align-items-start justify-content-start">Organization<span class="ml-auto">(12)</span></div>
        </a></li>
      <li><a href="#">
          <div class="d-flex flex-row align-items-start justify-content-start">Tips & Tricks<span class="ml-auto">(16)</span></div>
        </a></li>
      <li><a href="#">
          <div class="d-flex flex-row align-items-start justify-content-start">Uncategorized<span class="ml-auto">(22)</span></div>
        </a></li>
    </ul>
  </div>
</div>
