<!-- Latest News -->
<div class="latest">
  <div class="sidebar_title">Latest News</div>
  <div class="latest_container">

    <!-- Latest Post -->
    <div class="latest_post d-flex flex-row align-items-start justify-content-start">
      <div class="latest_post_image"><img src="images/latest_1.jpg" alt=""></div>
      <div class="latest_post_content">
        <div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
          <div class="latest_post_day">02</div>
          <div class="latest_post_month">june</div>
        </div>
        <div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
        <div class="latest_post_text">
          <p>Pellentesque sit amet..</p>
        </div>
      </div>
    </div>

    <!-- Latest Post -->
    <div class="latest_post d-flex flex-row align-items-start justify-content-start">
      <div class="latest_post_image"><img src="images/latest_2.jpg" alt=""></div>
      <div class="latest_post_content">
        <div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
          <div class="latest_post_day">02</div>
          <div class="latest_post_month">june</div>
        </div>
        <div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
        <div class="latest_post_text">
          <p>Pellentesque sit amet..</p>
        </div>
      </div>
    </div>

    <!-- Latest Post -->
    <div class="latest_post d-flex flex-row align-items-start justify-content-start">
      <div class="latest_post_image"><img src="images/latest_3.jpg" alt=""></div>
      <div class="latest_post_content">
        <div class="latest_post_date d-flex flex-row align-items-end justify-content-start">
          <div class="latest_post_day">02</div>
          <div class="latest_post_month">june</div>
        </div>
        <div class="latest_post_title"><a href="#">Best tips to travel light</a></div>
        <div class="latest_post_text">
          <p>Pellentesque sit amet..</p>
        </div>
      </div>
    </div>

  </div>
</div>
